<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>text</key>
		<string>Pbind</string>
		<key>!click</key>
		<dict>
			<key>type</key>
			<string>animate</string>
			<key>anims</key>
			<array>
				<dict>
					<key>keyPath</key>
					<string>transform.scale</string>
					<key>toValue</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>keyPath</key>
					<string>transform.translation.y</string>
					<key>byValue</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>after</key>
					<true/>
					<key>keyPath</key>
					<string>transform.scale</string>
					<key>toValue</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>keyPath</key>
					<string>transform.translation.y</string>
					<key>byValue</key>
					<integer>-100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
